{% extends 'base_form/base.html' %}
{% include 'extra_link/main_dashbrd_css_style_link.html' %}
{% block title %} Dashboard {% endblock %}

<!--========== CONTENTS start==========-->
{% block body %}
<main>
    <section>
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col col-md-4 col-md-6 mb-2">
                    <div class="d-sm-flex align-items-center mb-2">
                        <i class='bx bxs-dashboard text-success req-head-icon'></i>
                        <h1 class="h3 text-success req-head">Home Dashboard</h1>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <!-- total Reg. Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-primary shadow h-100 py-2" onClick="location.href='/reqdashboard'">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        <span class="text-primary card-title">Req. Dashboard</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class='bx bx-line-chart fa-2x text-primary'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- total done req. Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-success shadow h-100 py-2" onClick="location.href='/requirement'">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        <span class="text-success card-title">Add Requirements</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class='bx bx-add-to-queue fa-2x text-success' ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- total pending req. Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-info shadow h-100 py-2" onClick="location.href='/user'">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold  text-uppercase mb-1">
                                        <span class="text-info card-title">User List</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class='bx bx-user fa-2x text-info'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- total bugs req. Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-warning shadow h-100 py-2" onClick="location.href='#'">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">
                                        <span class="text-warning card-title">Chat</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class='bx bx-message-rounded-dots fa-2x text-warning'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--========== MAIN JS ==========-->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
{% endblock %}
<!--========== CONTENTS end==========-->