.req_status_header {
    margin-top: -5px;
    margin-left: -26px;
    margin-bottom: 10px;
    width: 106%;
    height: 45px;
    background: rgb(45, 100, 116);
    color: #fff;
    border-radius: 2px;
    text-align: center;
    justify-content: space-between;
}

.req_status_header h1 {
    position: absolute;
    margin-top: 12px;
    font-size: 18px;
    margin-left: 25px;
}

/* back to home start */
.back-to-home .back-botton {
    position: absolute;
    display: flex;
    right: 15px;
}

.back-to-home .back-botton .homebtn {
    margin-top: 6px;
    display: flex;
    /* margin-right: 40px; */
    width: 85px;
    padding: 6px;
    border-top: none;
    border-left: none;
    border-radius: 50px;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #cfa612;
}

.back-to-home .back-botton a {
    outline-width: none;
    border-radius: 50px;
}

.back-to-home .back-botton .homebtn i {
    position: relative;
    display: flex;
    font-size: 20px;
    bottom: 1px;
    left: -5px;
    align-items: center;
    justify-content: left;
}

.back-to-home .back-botton .homebtn:hover {
    background: #be9b0f;
}

/* back to home end */

/* accordion toggle start */
.accordion {
    position: relative;
    width: 106%;
    left: -26px;
    background: #fff;
    margin-bottom: 60px;
}

.accordion-tab .accordion-toggle {
    display: none;
}

.accordion-tab>label {
    position: relative;
    display: block;
    padding: 12px 20px;
    color: #fff;
    background: #0c2e3e;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    border-top: 1px solid #ddd;
    border-radius: 2px;
}

.accordion-tab>label::after {
    position: absolute;
    content: "\ed35";
    font-family: boxicons;
    top: 13px;
    right: 20px;
    transform: rotate(90deg);
    transition: transform .3s;
}

.accordion-tab>.accordion-toggle:checked~label:after {
    transform: rotate(0deg);
}

.accordion-tab>.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.accordion-tab>.accordion-content p {
    padding: 15px 20px;
    line-height: 20px;
}

.accordion-tab>.accordion-toggle:checked~.accordion-content {
    max-height: 100000vh;
}

/* accordion toggle end */



/* table start */
/* add user button */
.add-medicine-botton {
    position: relative;
    padding: 6px 4px;
    background: #4a7f85;
    margin-top: 5px;
}

.add-medicine-botton .add-botton .useraddbtn {
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    margin-inline-start: 92.5%;
    width: 85px;
    padding: 6px;
    border-top: none;
    border-left: none;
    border-radius: 50px;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #293154;
}

.add-medicine-botton .add-botton a {
    outline-width: none;
    border-radius: 50px;
}

.add-medicine-botton .add-botton .useraddbtn i {
    position: relative;
    display: flex;
    font-size: 20px;
    top: 0;
    left: -7px;
    align-items: center;
    justify-content: left;
}

.add-medicine-botton .add-botton .useraddbtn:hover {
    background: #1c213a;
}

/* add user button */


.table {
    display: inline-block;
    font-family: arial, sans-serif;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    width: 200%;
    border-collapse: collapse;
    border: 1px solid rgb(223, 223, 223);
}

/* registration table start */
#data td,
#data th {
    border: .1px solid rgb(223, 223, 223);
    border-right: none;
    border-bottom: none;
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

#data tr:hover {
    background-color: rgb(161, 177, 196);
}

#data th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #6697a8;
    color: white;
    vertical-align: middle;
}

/* registration table end*/

/* prescription table start */
#prescription_data td,
#prescription_data th {
    border: .1px solid rgb(223, 223, 223);
    border-right: none;
    border-bottom: none;
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

#prescription_data tr:hover {
    background-color: rgb(161, 177, 196);
}

#prescription_data th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #6697a8;
    color: white;
    vertical-align: middle;
}
/* prescription table end*/

/* Admission table start */
#admission_data td,
#admission_data th {
    border: .1px solid rgb(223, 223, 223);
    border-right: none;
    border-bottom: none;
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

#admission_data tr:hover {
    background-color: rgb(161, 177, 196);
}

#admission_data th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #6697a8;
    color: white;
    vertical-align: middle;
}
/* Admission table end*/

/* billing table start */
#billing_data td,
#billing_data th {
    border: .1px solid rgb(223, 223, 223);
    border-right: none;
    border-bottom: none;
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

#billing_data tr:hover {
    background-color: rgb(161, 177, 196);
}

#billing_data th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #6697a8;
    color: white;
    vertical-align: middle;
}
/* billing table end*/

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.5em;
    display: none;
    opacity: 0.3;
}

.row tbody {
    font-size: 14.3px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.table.dataTable {
    clear: both;
    margin-top: 0 !important;
    border-collapse: separate !important;
    border-spacing: 0;
    width: 200%;
}

.row {
    --bs-gutter-x: 60px;
    --bs-gutter-y: 0;
    --bs-gutter-lf: -29px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: calc(var(--bs-gutter-x));
    margin-left: calc(var(--bs-gutter-lf));
    margin-bottom: 10px;
    cursor: pointer;
}

.row thead {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.row tbody {
    font-size: 14.3px;
    font-weight: 500;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    padding-bottom: 0.1em;
    text-align: left;
    margin-left: 50px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 0 0;
    white-space: nowrap;
    justify-content: flex-end;
    text-align: right;
    margin-right: -40px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-right: -40px;
}


div.dataTables_wrapper div.dataTables_length {
    text-align: left;
    margin-left: 50px;
}

/* row select style start */
.table tbody tr.highlight td {
    background-color: rgb(173, 177, 179);
}

/* row select style end */

.table-body {
    width: 100.8%;
    height: 100%;
    overflow-y: scroll;
    border-collapse: none;
}


/* Scroll Bar start */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll Bar End */

/* table column width start*/
/* delete btn */
.btn {
    padding: 0.175rem 0.75rem;
}

/* delete btn */

.delete-class {
    width: 2.5%;
}

.des-class {
    width: 32%;
}

.reqby-class {
    width: 5%;
}

.reqtype-class {
    width: 5%;
}

.status-class {
    width: 5%;
}

.priority-class {
    width: 5%;
}

.devstatus-class {
    width: 5%;
}

.qastatus-class {
    width: 5%;
}

.assignedto-class {
    width: 5%;
}

.hours-class {
    width: 5%;
}

.reqdate-class {
    width: 5%;
}

.startdate-class {
    width: 5%;
}

.enddate-class {
    width: 5%;
}

.comments-class {
    width: 20%;
}

.referance-class {
    width: 20%;
}

/* table column width end*/
/* table end */
textarea::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 6.5;
    color: rgb(114, 111, 111);
    justify-content: right;
    text-align: right;
    margin-left: 20px;
}

option {
    font-size: 13px;
    line-height: 6.5;
    color: rgb(114, 111, 111);
    justify-content: left;
    text-align: left;
    margin-left: 20px;
}

/* page selecter */
.page-item.active .page-link {
    z-index: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* page selecter */
/* date input design */
input {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
}

/* date input design */

/* input placeholder */
input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 4;
    color: rgb(114, 111, 111);
    justify-content: right;
}
/* input placeholder */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: var(--bs-gutter-x,.8rem);
    margin-right: auto;
    margin-left: auto;
}

.required:after {
	content: " *";
	color: red;
}

.modal-header {
    padding: 0.3rem 1rem;
    background: #476f7e;
    color: #fff;
}

.col {
    flex: 1 0 0%;
    margin-top: -25px;
    margin-right: 15px;
}

.row_select {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    --bs-gutter-lf: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x));
    margin-left: calc(var(--bs-gutter-lf));
    margin-top: 20px;
    margin-bottom: 20px;
}

.row_input {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    --bs-gutter-lf: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x));
    margin-left: calc(var(--bs-gutter-lf));
    margin-top: 20px;
    margin-bottom: 20px;
}

.row_textarea {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    --bs-gutter-lf: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x));
    margin-left: calc(var(--bs-gutter-lf));
    margin-top: 20px;
}

/* add data modal footer */
.modal-footer_add_data {
	margin-left: -15.6px;
	width: 102.8%;
	margin-bottom: -15.9px;
}

.modal-footer_add_data {
	padding: 0.15rem;
	background: rgb(241, 238, 238);
}

.modal-footer_add_data {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-end;
	padding: 0.3rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: calc(0.3rem - 1px);
	border-bottom-left-radius: calc(0.3rem - 1px);
}

.btn_placement {
    margin-right: 15px;
}
/* add data modal footer */


/* edit input items modal  */
.edit_modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}


.edit_inputbox {
    display: block;
    width: 133.5%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.edit_modal-footer {
    margin-left: -15.6px;
    width: 108%;
    margin-bottom: -15.9px;
    padding: 0.15rem;
    background: rgb(241, 238, 238);
}

.edit_modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.3rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer_comments {
    margin-left: -15.6px;
    width: 104%;
    margin-bottom: -15.9px;
    padding: 0.15rem;
    background: rgb(241, 238, 238);
}

.modal-footer_comments {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.3rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
/* edit input items modal  */