<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--========== Bootstrap link ==========-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

    <!--========== FAVICON ICONS ==========-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='base_form_style/dashboardlink.png') }}">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="{{url_for('static', filename='main_dashboard_style/css/main_dashboard_styles.css')}}">
</head>

<body>

</body>

</html>