<!-- add req admission modal start -->
<div class="modal fade" id="add_admission_service_data" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.add_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="work_des" class="col-form-label required">Work Description</label>
                                    {{ form.hidden_tag() }}
                                    <textarea class="form-control" id="work_des" name="work_des"
                                        placeholder="Enter Your Work Description Here"
                                        style="height: 100px; width:109.2%;" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row_select">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="req_type" class="col-form-label required">Req. Type</label>
                                    <select class="form-select" id="req_type" name="req_type"
                                        aria-label="Default select example" required>
                                        <option value="" class="option_click" disabled selected hidden>Click Here
                                        </option>
                                        <option value="New Req.">New Req.</option>
                                        <option value="Policy">Policy</option>
                                        <option value="Reports">Reports</option>
                                        <option value="Bugs">Bugs</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="status" class="col-form-label required">Status</label>
                                    <select class="form-select" id="status" name="status"
                                        aria-label="Default select example" required>
                                        <option value="" class="option_click" disabled selected hidden>Click Here
                                        </option>
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>
                                        <option value="Half Done">Half Done</option>
                                        <option value="Not Done">Not Done</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="priority" class="col-form-label required">Priority</label>
                                    <select class="form-select" id="priority" name="priority"
                                        aria-label="Default select example" required>
                                        <option value="" class="option_click" disabled selected hidden>Click Here
                                        </option>
                                        <option value="Very High">Very High</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                        <option value="Very Low">Very Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="dev_status" class="col-form-label required">Dev. Status</label>
                                    <select class="form-select" id="dev_status" name="dev_status"
                                        aria-label="Default select example" required>
                                        <option value="" class="option_click" disabled selected hidden>Click Here
                                        </option>
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>
                                        <option value="Half Done">Half Done</option>
                                        <option value="Not Done">Not Done</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="qa_status" class="col-form-label required">QA Status</label>
                                    <select class="form-select" id="qa_status" name="qa_status"
                                        aria-label="Default select example" required>
                                        <option value="" class="option_click" disabled selected hidden>Click Here
                                        </option>
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>
                                        <option value="Half Done">Half Done</option>
                                        <option value="Not Done">Not Done</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row_input">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="req_by" class="col-form-label">Req. By</label>
                                    <input type="text" class="form-control" id="req_by" name="req_by"
                                        placeholder="Enter User Req. by Here">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="assigned_to" class="col-form-label">Assigned to</label>
                                    <input type="text" class="form-control" id="assigned_to" name="assigned_to"
                                        placeholder="Enter Assigned to Here">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="hours" class="col-form-label">Hours</label>
                                    <input type="text" class="form-control" id="hours" name="hours"
                                        placeholder="Enter Hours Here">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="start_date" class="col-form-label">Start Date</label>
                                    <input type="date" class="form-control" id="start_date" name="start_date"
                                        placeholder="Enter Start Date Here">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="end_date" class="col-form-label">End Date</label>
                                    <input type="date" class="form-control" id="end_date" name="end_date"
                                        placeholder="Enter End Date Here">
                                </div>
                            </div>
                        </div>
                        <div class="row_textarea">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="comments" class="col-form-label">Comments</label>
                                    <textarea class="form-control" id="comments" name="comments"
                                        placeholder="Enter Your comments Here" style="height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="referance" class="col-form-label">Reference</label>
                                    <textarea class="form-control" id="referance" name="referance"
                                        placeholder="Enter Reference Here" style="height: 100px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer_add_data">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- add req admission modal end -->
<!-- ======================================== Edit Data ========================================= -->
<!-- ================== input box Edit Data ============================ -->
<!-- Edit admission modal start -->
{% for row in admission %}
<!-- id edit -->
<div class="modal fade" id="edit_admsn_id_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_id_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">S/N</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <input type="number" class="form-control edit_inputbox" name="id"
                                        id="id" value="{{row.id}}"
                                        placeholder="Update S/N No. Here" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- id edit end -->

<!-- work_des edit-->
<div class="modal fade" id="edit_admsn_work_des_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_work_des_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Work Description</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <textarea class="form-control" name="work_des"
                                        placeholder="Enter Your Work Description Here"
                                        style="height: 100px; width:109.2%;" required>{{row.work_des}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer_add_data">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- work_des edit end-->

<!-- req_by edit -->
<div class="modal fade" id="edit_admsn_req_by_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_req_by_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Req. By</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <input type="text" class="form-control edit_inputbox" name="req_by" id="req_by"
                                        value="{{row.req_by}}" placeholder="Update Requirement By Here" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- req_by edit end -->

<!-- assigned_to edit -->
<div class="modal fade" id="edit_admsn_assigned_to_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_assigned_to_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Assigned to</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <input type="text" class="form-control edit_inputbox" name="assigned_to"
                                        id="assigned_to" value="{{row.assigned_to}}"
                                        placeholder="Update Assigned to Here" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- assigned_to edit end -->

<!-- hours edit -->
<div class="modal fade" id="edit_admsn_hours_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_hours_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Hours</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <input type="number" class="form-control edit_inputbox" name="hours" id="hours"
                                        value="{{row.hours}}" placeholder="Update Hours Here" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- hours edit end -->

<!-- start_date edit -->
<div class="modal fade" id="edit_admsn_start_date_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_start_date_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Start Date</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <input type="date" class="form-control edit_inputbox" name="start_date"
                                        id="start_date" value="{{row.start_date}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- start_date edit end -->

<!-- end_date edit -->
<div class="modal fade" id="edit_admsn_end_date_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_end_date_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">End Date</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <input type="date" class="form-control edit_inputbox" name="end_date" id="end_date"
                                        value="{{row.end_date}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end_date edit end -->

<!-- comments edit -->
<div class="modal fade" id="edit_admsn_comments_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_comments_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Comments</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <textarea class="form-control" name="comments" id="comments"
                                        placeholder="Update Your Comments Here" style="height: 100px; width:114%;"
                                        required>{{ row.comments }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer_comments">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- comments edit end -->

<!-- referance edit -->
<div class="modal fade" id="edit_admsn_referance_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_referance_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Reference</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <textarea class="form-control" name="referance" id="referance"
                                        placeholder="Update Reference Here" style="height: 100px; width:114%;"
                                        required>{{ row.referance }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer_comments">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- referance edit end -->


<!-- =========================== selection option edit ========================= -->

<!-- req_type edit -->
<div class="modal fade" id="edit_admsn_req_type_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_req_type_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Req. Type</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <select class="form-select edit_inputbox" id="req_type" name="req_type"
                                        aria-label="Default select example" required>
                                        {{ row.req_type }}
                                        <option value="New Req.">New Req.</option>
                                        <option value="Policy">Policy</option>
                                        <option value="Reports">Reports</option>
                                        <option value="Bugs">Bugs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- req_type edit end -->

<!-- status edit -->
<div class="modal fade" id="edit_admsn_status_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_status_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Status</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <select class="form-select edit_inputbox" id="status" name="status"
                                        aria-label="Default select example" required>
                                        {{ row.status }}
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>
                                        <option value="Half Done">Half Done</option>
                                        <option value="Not Done">Not Done</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- status edit end -->

<!-- priority edit -->
<div class="modal fade" id="edit_admsn_priority_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_priority_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Priority</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <select class="form-select edit_inputbox" id="priority" name="priority"
                                        aria-label="Default select example" required>
                                        <option value="Very High">Very High</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                        <option value="Very Low">Very Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- priority edit end -->

<!-- dev_status edit -->
<div class="modal fade" id="edit_admsn_dev_status_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_dev_status_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">Dev. Status</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <select class="form-select edit_inputbox" id="dev_status" name="dev_status"
                                        aria-label="Default select example" required>
                                        <option value="On Going">On Going</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>
                                        <option value="Half Done">Half Done</option>
                                        <option value="Not Done">Not Done</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- dev_status edit end -->

<!-- qa_status edit -->
<div class="modal fade" id="edit_admsn_qa_status_service_data{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="edit_modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Requirements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('add_requirement.update_qa_status_admission_data') }}">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="col-form-label required">QA Status</label>
                                    <input type="hidden" name="id" value="{{ row.id }}">
                                    <select class="form-select edit_inputbox" id="qa_status" name="qa_status"
                                        aria-label="Default select example" required>
                                        <option value="Pending">Pending</option>
                                        <option value="Done">Done</option>
                                        <option value="Half Done">Half Done</option>
                                        <option value="Not Done">Not Done</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_modal-footer">
                        <button name="submit" type="submit" class="btn btn-primary btn_placement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- qa_status edit end -->

<!-- Edit admission modal end -->